body{
    background-color:  hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 

}

#white-box{
    background-color:  hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 15px;
    width: 300px;
    text-align: center;

 
}

#white-box img{
    width: 100%;
    border-radius: 20px;
    
 
}
#white-box h1{
    color: hsl(218, 44%, 22%);
    font-size: 25px;
}

#white-box p{
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}